*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

head,body{
    height: 100%;
    width:100%;
}

.main{
    height: 100%;
    width:100%;
}

.nav{
    height: 60px;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    padding: 10px;
}

.nav h4{
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
}

.nav i{
    font-weight: 500;
    background-color: black;
    font-size: 20px;
    padding: 15px;
    color: white;
    border-radius: 50%;
}

.head1{
    padding: 50px;
    /* height: 40vh; */
    width: 100%;
    /* background-color: red; */
}

.head1 h1{
    line-height: 90px;
    font-weight: 500;
    font-size: 80px;
}

.head2{
    width: 100%;
    /* background-color: red; */
    height: 150px;
    margin-top: 30px;
}
.head2 p{
    padding: 20px;
    font-size: 22px;
    line-height: 35px;
}