*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    position: relative;
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    padding-top: 1px;
}

.nav{
    width: 100%;
    height: 11vh;
    margin-top: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav h2{
    font-size: 20px;
    height: 100%;
    width:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    font-weight: 500;
}

.nav h1{
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: -3px;
    height: 100%;
    width:20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav h2:nth-last-child(2){
    width:29%;
}

.nav h2:nth-last-child(1){
 width: 10%;
}

.center{
    height: 90%;
    width:100%;
    /* background-color: red; */
    padding: 1px;
}

.content{
    position: relative;
    margin: 5vw;
    height:100%;
    width:90%;
    /* background-color: blue; */
}
.content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay{
    height:38%;
    width: 93.3%;
    /* background-color: red; */
    position: absolute;
    bottom: 0;
    padding: 3vw;
    color: #fff;
}

.over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}
.over1 h1{
    font-family: "Paytone One", sans-serif;
    font-size:3.6vw;
}
.over1 h2{
    /* font-family: "Paytone One", sans-serif; */
    font-size:1vw;
    padding:2vw 2.4vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: solid 2px #fff;
}

.over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid  #fff;
    padding: 0.5vw 0;
}
.over2 h3{
    font-size: 1.3vw;
    font-weight: 500;
}

.over2 i{
    height: 3vw;
    font-size: 2vw;
}



