*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    padding: 0px 90px;
    padding-top: 130px;
    gap:60px;
}
.left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.left h1{
    font-size: 100px;
    font-weight: 500;
    line-height: 140px;
}
.right{
    width: 33%;
    height: 95%;
    /* background-color: rgb(74, 52, 213); */
}

.bottom{
    width: 100%;
}

.color{
    border: 1px solid black;
    width: fit-content;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.color h5{
    font-weight: 400;
    font-size: 15px;
    margin-right: 10px;
}
.color1{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: burlywood;
    margin: 2px;
}

.color2{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(136, 85, 18);
}

.left h2{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.left p{
    font-size: 15px;
    font-weight: 600;
    color: #444;
    line-height: 25px;
}

.right-top{
    width: 100%;
    position: relative;
    padding: 5px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-top h4{
    font-size: 25px;
    font-weight: 500;
}

.right-top h5{
    padding:0px 2px;
    font-size: 15px;
}

.right-top i{
    font-size: 10px;
    /* padding: 2px; */
}

.right img{
    width: 100%;
    height: 100%;
}

.right .black{
    position: absolute;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(24, 23, 33, 0.989);
    top:35%;
    left:78%;
    
}
.black p{
    color: rgba(255, 255, 255, 0.411);
    font-size: 20px;
}

.rotated{
    font-weight: 400;
    font-size: 25px;
    position: absolute;
    right: 35%;
    bottom: 5px;
    rotate:-90deg;
    transform-origin: 0 0;
}
